body{
  background-color: #212529;
}
#root{
  box-shadow: 1px,1px,10px,2px #224b4b;
  position: absolute;
  top:70%;
  left:40%;
  transform: translate(-40%, -40%);
  color: white;
  font-weight: bold;
  text-align: left;
  display: flex;
  padding:20px;
  margin: auto 0;
}
.restart {
  margin-bottom: 10%;
}
@media screen and (min-width: 768px){
.board {
  width: auto;
  height: auto;
  border: solid 1px #212529;
  display: block;
}

.square {
  box-shadow: 2px 2px 10px 4px #224b4b;
  background-color: whitesmoke;
  border-radius: 15%;
  height: 140px;
  padding: 10px 60px;
  font-size: 50px;
  font-family: "permanent Marker", cursive;
  }
  
.square:hover {
  color: white;
  background-color: #212529;
  cursor: pointer;
}

.board-row {
  display: block;
  gap: 8px;
}
.box {
  margin-bottom: 2em;
}
.status {
  font-size: 23px;
  align-items: right;
}
button:hover {
  opacity: 0.8;
	cursor: pointer;
}
button:active {
  transform: scale(1);
  transition: all 0.2s ease-in-out
}
;
span button {
  background-color: #ff69b4;
  color: white;
  text-align: center;
  text-shadow: 1px white;
  width: 50px;
  height: 50px;
}

.restart {
  background-color: #ff69b4;
  color: white;
  text-align: center;
  text-shadow: 1px white;
  font-size: 18px;
}
button .restart {
  padding: 50%;
}
.tableContainer {
  margin-left: 5em;
}
#player-One {
  font-size: 20px;
}
#player-Two {
  font-size: 20px;
}
.container {
  align-items: center;
  margin:50px;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.2s;
}

.restart {
  margin-left:2.4em;
  gap: 16px;
  display: flex;
  justify-content: center;
  width: 90px;
  height: 50px;
}
.restart:hover {
  cursor: pointer;
}
h1 {
  font-weight: bold;
  text-shadow: whitesmoke 2px;
  margin-left: 2em;
}

input {
  margin-left: 3em;
}
}